{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ hotel }}
{% endblock %}

{% block content %}
<div class="container">
    <section class="hotel-detail">
        <div class="hotel-img">
            {% for hotelimage in images %}
            <img src="{{ hotelimage.hotel_images.url }}">
            {% endfor %}
        </div>

        <div class="hotel_detail__booking div-flex">
            <div class="hotel-info">
                <div class="hotel-title">
                    {{ hotel.name }}
                </div>
                <div class="hotel-address">
                    <p> <img class="ico" src="{% static 'img/map.png' %}" alt=""> &nbsp;{{ hotel.address }}</p>
                </div>
                <div class="hotel-desc">
                    <div class="heading">Description</div>
                    {{ hotel.description}}
                </div>
            </div>
            <div class="continue-booking position-sticky">

                <form id="reservation-form" method="post">
                    {% csrf_token %}
                    {{ reservation_form.as_p }}

                    <!-- Display the total cost -->
                    <div id="total-cost">
                        <p>Total Price: {{ hotel.price }} </p>
                    </div>
                    

                    <input type="submit" value="Submit">
                </form>


            </div>

        </div>
    </section>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Attach the event listener to form inputs
        $('#reservation-form input, #reservation-form select').on('input', function () {
            updateTotalCost();
        });

        // Function to update the total cost
        function updateTotalCost() {
            // Serialize form data
            var formData = $('#reservation-form').serialize();

            // Update with your actual URL pattern for update_total_cost
            var url = '{% url "hotel:update_total_cost" hotel.slug %}';

            // Make AJAX request to update total cost
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    $('#total-cost').html('<p>Total Price: ' + data.total_cost + '</p>');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });

</script>
{% endblock %}