{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ hotel }}
{% endblock %}

{% block content %}
<div class="container">
    <section class="hotel-detail">
        <div class="hotel-img">
            {% for hotelimage in images %}
            <img src="{{ hotelimage.image.url }}">
            {% endfor %}
        </div>

        <div class="hotel_detail__booking div-flex">
            <div class="hotel-info">
                <div class="hotel-title">
                    {{ hotel.name }}
                </div>
                <div class="hotel-address">
                    <p> <img class="ico" src="{% static 'img/map.png' %}" alt=""> &nbsp;{{ hotel.address }}</p>
                </div>
                <div class="hotel-desc">
                    <div class="heading">Description</div>
                    {{ hotel.description}}
                </div>
            </div>
            <div class="continue-booking position-sticky">
                <div class="hotel-price">
                    <p class="heading">{{ hotel.price }}</p>
                    <p class="info">Inclusive of all taxes</p>

                    <div class="div-flex">
                        <div class="checkin__checkout">
                            <p>
                                Date
                            </p>
                        </div>
                        <div class="room__guest">
                            <p>
                                1 room
                                1 guest
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="div-flex">
                        <div class="tp">
                            <p>Total Price</p>
                            <p class="info">(incl. of all taxes)</p>
                        </div>
                        <p>{{ hotel.price }}</p>
                    </div>
                    <br>
                    <button class="button-style greenButton">Continue to Booking</button>

                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}