@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    outline: none;
    line-height: 1.25em;
}

:root {
    font-family: "Quicksand", sans-serif;
    --app-bg: #fff;
    --modal-before: rgba(215, 215, 215, .5);
    --main-font-color: #000;
    --light-font-color: #becaca;
    --main-border-color: #f3f3f3;
    --secondary-border-color: #faeceb;
    --button-bg-light: #f3f3f3;
    --cards-area-bg: #f4f4f6;
    --cards-bg: #fff;
    --buttons-color-primary: #d84851;
    --buttons-color-secondary: #f8e4e5;
    --filter-bg: #fff;
    --search-bg: #fff;
}

h2 {
    padding: 0px;
    margin: 0;
}

.nav-right-side {
    display: flex;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--app-bg);
    transition: 0.2s;
}

a {
    text-decoration: none;
}

button,
a {
    cursor: pointer;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navigation {
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.app-link {
    font-weight: 600;
    font-size: 20px;
    color: var(--main-font-color);
    line-height: 24px;
}

.navigation-links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    max-width: 420px;
}

.nav-link {
    color: var(--light-font-color);
    font-weight: 500;
    font-size: 14px;
    margin: 0 8px;
    transition: 0.2s;
}

.nav-link.active {
    color: var(--main-font-color);
}

.nav-link:not(.active):hover {
    color: var(--buttons-color-primary);
}

.profile-btn {
    border: 1px solid var(--secondary-border-color);
    background-color: transparent;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.profile-btn:hover {
    border-color: var(--buttons-color-primary);
}

.profile-btn span {
    padding: 0 8px;
    font-weight: 500;
    color: var(--buttons-color-primary);
}

.profile-btn img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.btn-icon {
    width: 16px;
}

.search-wrapper {
    border: none;
    display: flex;
    border-radius: 6px;
    max-width: 420px;
    width: 100%;
    overflow: hidden;
    height: 40px;
}

.search-input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-left: none;
    border-right: none;
    background-color: var(--search-bg);
    flex: 1;
    border: 1px solid var(--main-border-color);
    padding: 0 8px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.loaction-btn {
    padding: 0;
    border: 1px solid var(--main-border-color);
    background-color: var(--button-bg-light);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    background-color: var(--buttons-color-primary);
    color: #fff;
    border: 1px solid var(--buttons-color-primary);
    padding: 10px 16px;
    font-size: 14px;
}

.app-actions-line {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}


/* PEMBA */

.heading {
    font-size: 20px;
    font-weight: 800;
}

.position-sticky {
    position: sticky;
    top: 0;
}

.button-style {
    font-weight: 700 !important;
    font-size: 15px !important;
    text-align: center;
    outline: none;
    padding: 7px 15px !important;
    width: auto !important;
    margin: 0 !important;
    align-self: flex-end;
    white-space: nowrap;

}

.button-style.greenButton {
    background-color: #1ab64f;
    color: #fff;
    border-radius: 2px !important;
    border: 1px solid #1ab64f;
}

.button-style.whiteButton {
    background-color: #fff;
    color: #222;
    border-radius: 2px !important;
    border: 1px solid #222;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ico {
    width: 20px;
}

.div-flex {
    display: flex;
    gap: 20px;
}

.container {
    padding: 0px 40px 0 40px 
}

.hotel-price p.info {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin-top: 0;
}

.hotel-img img {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-main .hotel-img img {
    width: 250px;
    height: 200px;
    object-fit: scale-down;
}

.hotel-card {
    display: flex;
    gap: 20px;
}

.search-wrapper form {
    display: flex;
}

/* hotel detail */

.hotel-title {
    font-weight: 900;
    font-size: 30px;
}

.hotel-address, .hotel-price, .hotel-description {
    font-weight: 500;
}

.hotel-price {
    margin: 10px;
}

.hotel-price p {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.hotel-detail .hotel_detail__booking.div-flex {
    gap: 50px;
}
.hotel-detail .hotel-info {
    width: 900px;
}

.hotel-detail .hotel-title {
    font-weight: 900;
    font-size: 36px;
}

.continue-booking {
    flex: 1;
    border: 1px solid var(--modal-before);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    height: fit-content;
}

/* .hotel-detail .hotel-address {

} */