{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Engine {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="app-container">
        <div class="nav position-sticky">
            <div class="nav-left-side">
                <a href="{% url 'home' %}" class="app-link">Booking Engine</a>
            </div>
            <div class="nav-right-side">
                <a href="{% url 'hotel:add_hotel' %}"><p>List your Property</p></a>
                {% if request.user.is_authenticated %}
                <div class="profile">
                    <span>{{ request.user.username }}</span>
                </div>
                {% else %}
                <a href="{% url 'login' %}"><p>Login</p></a>
                <a href="{% url 'register' %}"><p>Register</p></a>

                {% endif %}
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>